body {
  background-image: url("./assets/paw-print.png");
  background-size: cover;
}

/*------Not Found-----*/
.not-found {
  padding-top:1rem;
  text-align: center;
}

.notFoundTitle {
  padding-top: 10px;
  background-color: white;
}

/*------Header CSS-----*/

.header-container{
  background-color: lightblue;
}

.frisky-feline-header{
  font-style: italic;
}

.header-img {
  width:2rem;
}


/* App CSS */
.container {
  background-image: url("./assets/paw-print.png");
  background-size: cover;
}

/* Home.js CSS */

.headerHome {
  padding-top: 10px;
  background-color: white;
}

.introHome {
  width: 700px;
  background-color: white;
}


.homeImage img {
  height: 500px;
  width: 700px;  
  border-radius: 50%;
}

.homePageAll {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 5rem;
}

/* CatIndex / Card CSS */
.cardIndex {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  /* height: 25%;
  width: 25%; */
  margin: 10px;
}

.indivCard {
  margin: 5px;
  height: 250px;
  width: 250px;
  margin-bottom: 50%;

  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.cardContainerAll {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 80px;
}

.card-body {
  text-align: center;
}

.indexAllContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indexTitle {
  background-color: white;
  padding-top: 10px;
}

/* CatShow.js */

.show-container{
  display: flex;
  justify-content: center;
  padding-top:1.5rem;
  padding-bottom: 5rem;
}

.card-container{
  padding-bottom:1rem;
  padding-top:1rem;
  width:30%;
  display: flex;
  align-items: center;
}

.card-container img{
  height:350px;
  width:350px;
  border: 1px solid black;
  border-radius: 7px;
}

.show-button{
  display: flex;
  justify-content: space-between;
}

.show-button Button{
  background-color: lightblue;
  color:black;
}

.show-button Button:hover{
  color:white;
}

/* CatNew.js */
.catNewTitle {
  background-color: white;
  padding-top: 10px;
  text-align: center;

}

/*------Footer CSS-----*/
 .footer {
  text-align: center;
  position:fixed;
  bottom: 0;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lightblue;
  padding-top:1rem;
  padding: 5px;
  padding-bottom: 0px;
}

.p {
  margin-bottom: 2px;
}